{
  "current_interview_date": "",
  "username": "",
  "password": "",
  "twilio_account": "",
  "twilio_token": "",
  "twilio_to_phone": "",
  "twilio_from_phone": "",
  "enrollment_location_id": "",
  "init_url": "https://goes-app.cbp.dhs.gov/main/goes",
}
